<div class="container">
  <br />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>

        <th>Gender</th>
        <th>Email</th>
        <th>Address</th>
        <th>Sate</th>
        <th>City</th>
        <th>Salary</th>
      </tr>
    </thead>

    <tbody>
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.gender }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.address }}</td>
      <td>{{ employee.state }}</td>
      <td>{{ employee.city }}</td>
      <td>{{ employee.salary }}</td>
    </tbody>
  </table>
</div>
