<div class="col-md-8 offset-md-2">
  <h2>Update Employee</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col">
        <input
          type="text"
          class="form-control"
          placeholder="enter firstname"
          id="firstName"
          [(ngModel)]="employee.firstName"
          name="firstName"
        />
      </div>
      <div class="form-group col">
        <input
          type="text"
          class="form-control"
          placeholder="enter lastname"
          id="firstName"
          [(ngModel)]="employee.lastName"
          name="lastName"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <input
          type="text"
          class="form-control"
          placeholder="enter employee address"
          id="address"
          [(ngModel)]="employee.address"
          name="addeess"
        />
      </div>
      <div class="form-group col">
        <input
          type="text"
          class="form-control"
          placeholder="enter employee email"
          id="email"
          [(ngModel)]="employee.email"
          name="email"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <input
          type="text"
          class="form-control"
          placeholder="enter  rating"
          id="rating"
          [(ngModel)]="employee.rating"
          name="rating"
        />
      </div>
      <div class="form-group col">
        <input
          type="text"
          class="form-control"
          placeholder="enter employee city"
          id="ciy"
          [(ngModel)]="employee.city"
          name="city"
        />
      </div>
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
